.vs/
.vscode/
Bin/
Bin-Int/
Build/
imgui.ini
*.aps
*.vcxproj*
*.sln
*.vcxitems*

CloudEngine/Intermediate
CloudEngine/Build
CloudEngine/Editor/Logs/
CloudEngine/Editor/GeneratedFiles/
CloudEngine/Game/Logs/
